<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="dotsistemas_cronjobmanager" frontName="dotsistemas_cronjobmanager">
            <module name="DotSistemas_CronjobManager" before="Magento_Backend" />
        </route>
    </router>
</config>
